body {
  background-color: #ccf7e6;
  font-family: Arial, sans-serif;
  color: #222;
  padding: 20px;
}

h1 {
  color: #003366;
  text-align: center;
}

h2 {
  color: darkgreen;
  text-align: center;
}

.box {
  background-color: white;
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}


.image-section {
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.image-card {
  text-align: center;
  width: 250px;
}

.image-card p {
  margin: 4px 0;
  font-weight: bold;
  line-height: 1.2;
}


.image-card img {
  width: 100%;
  height: 300px;   
  object-fit: cover;   
  border-radius: 6px;
  display: block;
}
body {
  background-color: #ccf7e6;
  font-family: Arial, sans-serif;
  color: #222;
  padding: 20px;
}

h1 {
  color: #003366;
  text-align: center;
}

h2 {
  color: darkgreen;
  text-align: center;
}

.box {
  background-color: white;
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}


.image-section {
  display: flex;
  justify-content: space-evenly;  
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.image-card {
  text-align: center;
  width: 250px;
}

.image-card p {
  margin: 4px 0;
  font-weight: bold;
  line-height: 1.2;
}



.image-card img {
  width: 100%;
  height: 300px;     
  object-fit: cover;   
  border-radius: 6px;
  display: block;
}


.tableauPlaceholder object {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


.box {
  overflow: visible;
}

.tableau-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

.tableauPlaceholder {
  width: 100%;
  max-width: 1100px;
}

